@media only screen and (max-width: 1279px) {
	.b-container {
		max-width: 916px;
	}
	.b-btn { 
		padding: 0 15px;
		font-size: 13px;
	}
	.b-top-header {
		padding: 10px 0 11px 0;
	}
	.b-top-header,
	.b-phone__link {
		font-size: 11px;
		font-weight: 700;
	}
	.b-city {
		width: 188px;
	}
	.b-city__name {
		letter-spacing: .2px;
	}
	.b-city__list {
		letter-spacing: .3px;
	}
	.b-nav-list {
		width: 554px;
		letter-spacing: .25px;
	}
	.b-main-header {
    	padding: 16px 0 15px 0;
    	vertical-align: middle;
    }
	.b-search {
		width: 402px;
	}
	.b-search__input {
		width: 360px;
	}
	.b-search__submit {
		width: 42px;
		background-position: 68% 50%;
	}
	.b-menu {
		font-size: 13px;
		font-weight: 700;
	}
	.b-menu__item {
	    padding: 20px 0 20px 0;
	}
	.b-slider {
		height: 334px;
	}
	.b-slider__content {
		width: 740px;
		padding: 39px 125px 0 60px;
		font-size: 35px;
		line-height: 45px;
	}
	.b-slider__content::before {
		background: url("../img/slider/circle960.png") no-repeat;
		top: 0;
		left: -51px;
	}
	.b-slider__icon {
		width: 72px;
		height: 72px;
	}
	.b-slider__arrow-left {
    	left: 1.6%;
	}
	.b-slider__arrow-right {
    	right: 1.6%;
    }
    .b-slider__paging {
	    bottom: 6%;
	    right: 0.5%;
	}
	.b-title {
		font-size: 20px;
		margin: 0 0 19px 0;
	}
	.b-best {
	    padding: 35px 0 27px 0;
	}

	.b-best__item--big {
		width: 452px;
		height: 188px;
		padding: 5px 40px;
	}
	.b-best__item--mini {
		width: 221px;
		height: 186px;
	}
	.b-best__item--big .b-best__img-container {
		width: 150px;
	    height: 150px;
	    line-height: 150px;
	    margin: 0 42px 0 0;
	}
	.b-best__item--mini .b-best__img-container {
	    height: 130px;
    	line-height: 130px;
	}
	.b-best__img {
    	max-height: 90%;
    }
	.b-best__item--big .b-best__description {
		width: 200px;
	}
	.b-best__item--mini .b-best__description {
	    padding: 0 15px;
	}
	.b-best__title { 
		font-size: 15px;
		line-height: 20px;
	}
	.b-best__item--bonus .b-best__title,
	.b-best__item--bonus .b-best__under-title {
		font-size: 30px;
		line-height: 35px;
	}
	.b-best__text {
		font-size: 13px;
		line-height: 16px;
	}
	/* PixelPerfect */
	.b-inspire__img--electronics {
	    left: 2px;
	    top: 3px;
	    max-height: 100%;
	}
	.b-inspire__img--domestic {
	    left: -21%;
	    top: -5px;
	    max-height: 121%;
    }
	.b-inspire__img--repair {
    	left: 10px;
    	max-height: 115%;
    }
	.b-inspire__img--kids-items {
		left: 0px;
	    top: -22px;
	    max-height: 111%;
	}
	.b-inspire__img--furniture {
	    left: 24px;
	    top: 3%;
	    max-height: 92%;
	}
	.b-inspire__img--sport {
	    top: 21px;
	    left: -14px;
	    max-height: 126%;
	}
	.b-inspire__img--house {
		left: 10px;
    	top: 0px;
    	max-height: 92%;
	}
	.b-inspire__img--auto {
	    top: -3px;
	    left: 4px;
	    max-height: 123%;
	}
	/* PixelPerfect END */
	
	.b-advantage {
		padding: 40px 0 34px 0;
	}
	.b-advantage__img-container {
		margin: 0 5px 0 0;
	}
	.b-advantage__text-container {
	    width: 120px;
	    height: 60px;
    }
	.b-inspire {
		padding: 36px 0 16px 0;
	}
	.b-title--inspire {
		margin: 0 0 21px 0;
	}
	.b-inspire__item {
		width: 221px;
		margin: 0 10px 23px 0;
	}
	.b-inspire__img-container {
		width: 100%;
		height: 208px;
	}
	.b-inspire__title { 
		font-size: 15px;
	}
	.b-brand {
	    padding: 30px 0 41px 0;
	}
	.b-brand__title-container {
		margin: 0 0 7px 0;
	}
	.b-brand__item {
		width: 144px;
		height: 99px;
	}
	.b-brand__img {
	    height: 70%;
	}
	.b-banner__info-container {
    	padding: 27px 0 0 35px;
    }
	.b-banner__img {
    	left: 35px;
    }
	.b-interesting {
    	padding: 14px 0 45px 0;
    }
    .b-interesting__item {
    	height: 265px;
    }
    .b-product__name {
    	width: 170px;
    	height: 44px;
    	font-size: 13px;
    }
    .b-product__img-container {
	    width: 186px;
	    height: 151px;
	    margin: 0 0 16px 0;
	    line-height: 130px;
	}
    .b-product__img {
    	height: 100%;
    }

	.b-advice {
	    padding: 39px 0 0 0;
	}
    .b-title--advice {
    	font-size: 30px;
    	margin: 0 0 31px 0;
    }
    .b-advice__nav {
    	width: 736px; 
    }
    .b-advice__nav-link {
    	font-size: 13px;
    	padding: 0 17px 15px 0;
    }
    .b-advice__active-link {
    	padding: 0 15.5px 15px 0;
    }
    .b-advice__slide-container {
    	padding: 20px 0;
    }
    .b-advice__info {
    	padding: 0;
    }
    .b-advice__info-head {
    	width: 100% !important;
    	margin: 0 0 21px 0;
    	font-size: 30px;
    	line-height: 35px;
    }
    .b-advice__product {
    	width: 221px;
		height: 355px;
		padding: 16px 0 0 18px;
    }
    .b-product__label-hit {
    	top: 9px;
    }
    .b-product__label-promo {
    	top: 29px;
    }
    .b-product__delivery-link {
    	font-size: 11px;
    }
	.b-advice__info-text {
		width: 445px;
	}
	.b-advice__info-btn {
		width: 146px;
		height: 35px;
	}
	.b-advice__info-link {
	    margin: 0 0 10px 0;
	}
	.b-viewed__item {
    	width: 220px;
    }
	.b-viewed__info-container {
	    height: 60%;
	    vertical-align: middle;
	}
    .b-viewed__item-name {
		width: 90px;
    	height: 32px;
    	padding: 0;
    }
    .b-form {
    	justify-content: flex-end;
    	-webkit-justify-content: flex-end;
    }
	.b-form__input-btn {
    	width: 145px;
	}
	.b-form__input-email {
		width: 297px;
    	margin: 0 10px 0 0;
	}
	.b-footer-nav {
		padding: 0 0 31px 0;
	}
	.b-footer-nav__column, .b-footer__info {
		padding: 0px 10px 0 0;
	}
	.b-phone__link--footer {
    	font-size: 15px;
	}
	.b-designer__name {
		margin: 0 19px 0 0;
	}
}
@media only screen and (max-width: 959px) {
	.b-container {
		max-width: 586px;
		padding: 0 10px;
	}
	.b-top-header,
	.b-login,
	.b-search__input,
	.b-menu,
	.b-slider__arrow,
	.b-advice__nav-btn,
	.b-arrow-container { 
		display: none;
	}
	/* .b-title {
		font-size: 25px;
	} */
	.b-btn {
		height: 35px;
	}
	.b-main-header {
		padding: 7px 0 6px 0;
	}
	.b-toggle {
		flex: 0 0 5%;
		display: block;
		height: 15px;
		margin: 0 20px 0 0;
		position: relative;
	}
	.b-toggle__item {
		display: block;
		width: 21px;
		height: 2px;
		background-color: #999;
		position: relative;
	}
	.b-toggle__item:first-child {
		top: 0;
		left: 0;
	}
	.b-toggle__item:nth-child(2) {
		top: 4px;
		left: 0;
	}
	.b-toggle__item:last-child {
		top: 9px;
		left: 0;
	}
	.b-logo {
		width: 173px;
		height: 35px;
		margin: 0 auto 0 0;
	}
	.b-search {
		width: 42px;
		flex: 0 0 10%;
	}
	.b-search__submit {
		border-color: transparent;
	}
	.b-basket {
		margin: 0;
		flex: 0 0 5%;
	}
	.b-basket__icon {
		width: 22px;
		height: 21px;
		background: url("../img/icon/basket-600.png") no-repeat 50%;
		background-size: contain;
	}
	.b-basket__count {
		top: -15px;
		right: -7px;
	}
	.b-slider {
		height: 320px;
	}
	.b-slider__content {
		padding: 60px 25px 0 0px;
		font-size: 30px;
		line-height: 35px;
	}
	.b-slider__content::before {
		background: url("../img/slider/circle600.png") no-repeat;
		top: 0;
		left: -61px;
	}
	.b-slider__icon {
		width: 71px;
		height: 71px;
		margin: 0 0 3px 0;
	}
	.b-slider__paging {
		bottom: -5%;
		right: 45%;
	}
	.b-paging__item {
		width: 6px;
		height: 6px;
		margin: 0 5px 0 0;
	}

	.b-best__list {
		width: 100%;
	}
	.b-best__item {
		margin: 0 2% 10px 0;
	}
	.b-best__item--big {
		flex: 0 0 100%;
		margin: 0 0 10px 0;
	}
	.b-best__item--mini {
		height: 245px;
		flex: 0 0 49%;
	}
	.b-best__item--mini + .b-best__item--mini { margin: 0 0 10px 0; }
	.b-best__item--mini .b-best__img-container {
		height: 165px;
    	line-height: 165px;
	}

	.b-advantage__list {
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	.b-advantage__item {
		width: 50%;
		margin: 0 0 15px 0;
	}
	.b-advantage__text-container {
		width: 150px;
		height: 45px;
	}
	.b-inspire__item {
		width: 278px;
		height: 260px;
		margin: 0 0 23px 0;
		/* max-height: 260px; */
		flex: 0 0 48%;
	}
	.b-inspire__item:nth-child(odd) { margin: 0 2% 23px 0; }
	.b-inspire__img--sport {
		left: 0%;
	}
	.b-inspire__title {
		/* font-size: 20px; */
	}

	.b-brand__list,
	.b-interesting__list,
	.b-viewed__list {
		justify-content: flex-start;
		overflow: hidden;
	}
	.b-brand__item {
		width: 190px;
		height: 130px;
		margin: 0 10px 0 0;
		flex-shrink: 0;
	}
	.b-brand__item-title {
		visibility: visible;
		opacity: 1;
	}
	.b-brand__img {
		height: 65%;
	}

	.b-banner__info-container {
		width: 288px;
		padding: 45px 0 0 0px;
	}
	.b-banner__img-container {
		width: 279px;
	}

	.b-banner__info {
		width: 215px;
		font-size: 15px;
		line-height: 21px;
	}
	.b-banner__title,
	.b-banner__text {
		line-height: 21px;
	}
	.b-banner__img {
		left: 0;
	}

	.b-advice__nav {
		width: 736px; 
		overflow-x: hidden;
    }
    .b-advice__nav-link {
		padding: 0 17px 15px 0;
		margin: 0 25px 0 0;
		font-size: 15px;
		flex-shrink: 0;
    }
	.b-advice__slide {
		flex-flow: column nowrap;
	}
	.b-advice__slide-container--black {
		background-image: url("../img/banner-braslet-600.png");
	}
	.b-advice__info-text,
	.b-advice__info--black-text .b-advice__info-text {
		width: 100%;
	}

	.b-advice__products {
		justify-content: flex-start;
	}
	.b-advice__product {
		width: 182px;
		height: 328px;
		padding: 10px 10px 0 10px;
	}
	.b-product__img-container {
		width: 160px;
		height: 135px;

	}
	.b-advice__product .b-product__name {
		width: 130px;
	}
	.b-advice__product .b-product__img {
		width: 100%;
	}
	.b-advice__product .b-price__value {
		font-size: 20px;
	}
	

	.b-viewed__item {
		width: 170px;
		height: 190px;
		margin: 0 10px 0 0;
		flex-shrink: 0;
		display: flex;
		justify-content: flex-start;
		flex-flow: column nowrap;
	}
	.b-viewed__info-container {
		width: 100%;
	}
	.b-viewed__item-name {
		width: 100%;
		font-size: 11px;
		line-height: 15px;
	}
	.b-viewed__price-value {
		font-size: 18px;
		line-height: 25px;
	}
	.b-price__currency {
		font-size: 11px;
		line-height: 24.256px;
	}

	.b-feedback__info,
	.b-form {
		width: 100%;
	}
	.b-feedback__info {
		margin: 0 0 15px 0;
	}
	.b-form {
		justify-content: flex-start;
	}

	.b-form__input-email {
		margin: 0 1.5% 0 0;
		flex: 0 0 65.5%;
	}
	.b-form__input-btn {
		height: 40px;
		flex: 0 0 33%;
	}

	.b-footer {
		padding: 0;
	}
	.b-feedback-container,
	.b-footer-nav {
		padding: 0;
		flex-flow: column nowrap;
	}
	.b-footer-nav__column,
	.b-footer__info {
		width: 100%;
		padding: 15px 0;
	}
	.b-footer-nav__column {
		border-bottom: 1px solid #ddd;
	}
	.b-footer__title {
		position: relative;
	}
	.b-footer__title--list::after {
		content: "";
		display: block;
		width: 23px;
		height: 11px;
		background: url("../img/icon/arrow-bottom.png") no-repeat 50%;
		background-size: contain;
		position: absolute;
		top: 8px;
		right: 0px;
	}
	.b-footer__nav-item {
		line-height: 30px;
	}
	.b-phone--footer {
		display: inline-block;
		width: 183px;
		padding: 15px 0 0 0;
		margin: 0 10px 0 0;
		vertical-align: top;
	}
	.b-phone__link--footer {
		width: 100%;
		height: 40px;
		padding: 8px 32px;
		margin: 0 0 5px 0;
		background-color: #ffdc00;
	}
	.b-copyright__info {
		margin: 0 0 15px 0;
	}
	.b-copyright {
		flex-flow: column nowrap;
	}

}