@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl300.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl500.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl700.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl900.ttf"); format("truetype");
	font-style: normal; 
	font-weight: 900; 
}
body, section, div, p, h1, h2, h3, h4, h5, img, ul, ol, li, 
input, button, a, select {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
*, *::before, *::after { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.b-container {
	max-width: 1190px;
	margin: 0 auto;
}
.b-title {
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 38px 0;
}
.b-mark {
	background: transparent;
	color: inherit;
}
.b-link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.b-list {
	list-style: none;
}
.b-btn {
	height: 40px;
	padding: 0 19px;
	border: 0;
	font-family: Museo Sans, sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #161616;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
.b-btn-white {
	border: 1px solid #ddd;
	background-color: #fff;
}
.b-btn-white:hover {
 	-webkit-box-shadow: inset 0 -2px #ddd;
	box-shadow: inset 0 -2px #ddd;
 }
.b-btn-yellow {
	background-color:  #ffdc00;
}
.b-btn-yellow:hover {
	-webkit-box-shadow: inset 0 -3px #a99200;
	box-shadow: inset 0 -3px #a99200;
}

.b-page {
	font-family: Museo Sans, sans-serif;
}
.b-header {
	text-transform: uppercase;
}
.b-top-header {
	padding: 17px 0 14px 0;
	border-bottom: 1px solid #eee;
}
.b-top-header__wrapper,
.b-main-header__wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.b-top-header__wrapper { align-items: baseline; }
.b-main-header__wrapper { align-items: center; }
.b-top-header {
	color:  #666;
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
}
.b-city {
 	width: 215px;
 }
.b-city__list {
	text-decoration: underline;
	text-decoration-style: dashed;
}
.b-nav-list {
	width: 690px;
}
.b-nav-list__list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
/* .b-nav-list__item { margin: 0 39px 0 0; } */
.b-nav-list__item:last-child { margin: 0; }
.b-nav-list__item:hover { color: #161616; }
.b-mark-promo {
	color: #eb2e2c;;
}
.b-phone__link {
	letter-spacing: .4px;
	font-size: 15px;
	font-weight: 700;
	color: inherit;
}
.b-main-header { padding: 19px 0 16px 0; }

.b-logo {
	width: 209px;
	height: 44px;
	margin: 0 26px 0 0;
}
.b-logo__img {
	width: 100%;
	height: auto;
}
.b-input {
	border: 1px solid #ccc;
	font-size: 15px;
}
.b-search {
	width: 690px;
}
.b-search__input {
	width: 640px;
	height: 40px;
	padding: 0px 0px 0 14px;
	border-right: none;
	font-weight: 300;
	letter-spacing: 0.3px;
	outline: none;
	vertical-align: top;
}
.b-search__submit {
	width: 50px;
	height: 40px;
	padding: 0;
	margin: 0 0 0 -4px;
	border: 1px solid #ccc;
	border-left: none;
	background: url("../img/icon/search.png") no-repeat 68% 49%;
	cursor: pointer;
	outline: none;
}

.b-user {
	margin: 0;
	position: relative;
}
.b-login,
.b-basket {
	display: inline-block;
	vertical-align: middle;
}
.b-login {
	margin: 0 37px 0 0;
}
.b-login::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 45px;
	background-color:  #eee;
	position: absolute;
	top: -5px;
	left: 79px;
}
.b-login__room,
.b-login__in {
	display: block;
	text-align: right;
	font-size: 13px;
}
.b-login__room {
	font-weight: 700;
	line-height: 11px;
	color: #333;
}
.b-login__in {
	text-transform: lowercase;
	line-height: 18px;
	color: #666;
}
.b-basket {
	margin: 0 4px 0 0;
}
.b-basket__link {
	position: relative;
}
.b-basket__icon {
	width: 32px;
    height: 33px;
	display: inline-block;
	background: #fff url("../img/icon/basket.png") no-repeat 50%;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.b-basket__count {
	display: block;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color:  #ffdc00;
	font-size: 13px;
	font-weight: 700;
	line-height: 21px;
	color:  #333;
	text-align: center;
	position: absolute;
	top: -26px;
	right: -3px;
}
.b-menu {
	width: 100%;
	background-color:  #ffdc00;
	font-size: 15px;
	font-weight: 700;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.b-menu__list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.b-menu__item {
	padding: 23px 0 18px 0;
}
.b-menu__item:hover {
	color: #666;
}
.b-slider {
	height: 428px;
	position: relative;
	background-color: #ffde00;
}
.b-slider__item {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	font-size: 48px;
	text-transform: uppercase;
	color: #161616;
	overflow: hidden;
}
	/* width: 666px;
	height: 129%;
	border-radius: 48% 0% 0% 48% / 109% 0% 0% 109%;
	margin: -7.2% 0 0 0;
	background-color:  #ffde00; */
	/*
	 * Не знаю костыль это или нет
	 * Но никак иначе сделать не удалось
	 */

.b-slider__img {
	width: 493px;
	height: 100%;
	background: url("../img/slider/slider-bg.png") no-repeat 0% 49%;
	background-size: cover;
}
.b-slider__content {
	width: 790px;
	height: 100%;
	padding: 55px 160px 0 60px;
	font-size: 48px;
	text-align: center;
	background-color: #ffde00;
	position: relative;
}
.b-slider__content::before {
	content: "";
	display: block;
	width: 80px;
	height: 912px;
	background: url("../img/slider/circle.png") no-repeat;
	position: absolute;
	top: -48px;
    left: -62px;
}
.b-slider__icon {
	display: inline-block;
	width: 94px;
    height: 93px;
	background: url("../img/slider/heart.png") no-repeat 50%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	margin: 0 0 9px 0;
}
.b-slider__title {
	font-size: inherit;
	font-weight: 700;
}
.b-slider__text {
	font-weight: 300;
}
.b-slider__arrow {
	height: 35px;
	padding: 5px 10px;
	border: none;
	background-color:  rgba(0, 0, 0, 0.1);
	cursor: pointer;
	position: absolute;
	top: 45.5%;
	z-index: 10;
}
.b-slider__arrow:hover { background-color:  rgba(0, 0, 0, 0.5) }
.b-slider__arrow-left {
	left: 4%;
}
.b-slider__arrow-right {
	right: 4%;
}
.b-slider__paging {
	position: absolute;
	bottom: 5%;
	right: 3%;
}
.b-paging__list {
	font-size: 0;	
	z-index: 10;
}
.b-paging__item {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 10px 0 0;
	border-radius: 50%;
	background-color:  rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.b-paging__item-active {
	background-color:  rgba(0, 0, 0, 0.6);
}

.b-best {
	padding: 54px 0 50px 0;
}
.b-best__list {
	display: flex;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin: 0 -10px 0 0;
}
.b-best__item {
	background-color:  #f4f4f4;
	width: 290px;
	height: 245px;
	margin: 0 10px 10px 0;
	overflow: hidden;
	cursor: pointer;
}
.b-best__item:hover {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.b-best__item--big {
	width: 590px;
	height: 245px;
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	align-items: center;
}
.b-best__img-container {
	text-align: center;
}
.b-best__item--big .b-best__img-container {
	height: 230px;
	line-height: 230px;
	margin: 0 30px 0 0;
}
.b-best__item--mini .b-best__img-container {
	height: 165px;
    line-height: 165px;
}
.b-best__item--bonus .b-best__img-container {
	margin: 0 20px 0 0;
}
.b-best__item--green-ellipse {
	background: #f4f4f4 url("../img/best/green-ellipse.png") no-repeat 50%;
	background-size: cover;
}
.b-best__item--blue-ellipse {
	background: #f4f4f4 url("../img/best/blue-ellipse.png") no-repeat 50%;
	background-size: cover;
}
.b-best__img {
	max-width: 100%;
    max-height: 100%;
	vertical-align: middle;
}
.b-best__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}
.b-best__text {
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
}
.b-best__description {
	max-height: 100%;
	overflow: hidden;
}
.b-best__item--big .b-best__description {
	width: 250px;
}
.b-best__item--bonus {
	background-color:  #ffde00;
}
.b-best__item--bonus .b-best__description {
	width: 225px;
}
.b-best__item--bonus .b-best__title,
.b-best__item--bonus .b-best__under-title {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 45px;
}
.b-best__item--bonus .b-best__under-title {
	font-weight: 300;
}
.b-best__item--sale {
	background-color: #ff001d;
	color: #fff;
	justify-content: flex-start;
}
.b-best__item--sale .b-best__img {
	vertical-align: top;
}
.b-best__item--mini .b-best__description {
	padding: 0 35px;
	text-align: center;
}

.b-advantage {
	padding: 40px 0 37px 0;
	border-top: 1px solid #f4f4f4;;
	border-bottom: 1px solid #f4f4f4;;
}
.b-advantage__list {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
}
.b-advantage__item {
	max-width: 285px;
	height: 76px;
}
.b-advantage__img-container,
.b-advantage__text-container {
	display: inline-block;
	vertical-align: middle;
}
.b-advantage__img-container {
	width: 70px;
	height: 70px;
	margin: 0 15px 0 0;
}
.b-advantage__img {
	width: 100%;
}
.b-advantage__text-container {
	width: 150px;
	height: 45px;
	overflow: hidden;
}
.b-advantage__text {
	font-size: 13px;
	font-weight: 700;
	line-height: 17px;
	text-transform: uppercase;
	word-break: break-word;
	color: inherit;
}

.b-inspire {
	padding: 54px 0 21px 0;
	border-bottom: 1px solid #f4f4f4;
}
.b-inspire__list {
	margin: 0 -10px 0 0;
	display: flex;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.b-inspire__item {
	width: 290px;
	margin: 0 10px 38px 0;
	text-align: center;
}
.b-inspire__img-container {
	width: 100%;
	height: 271px;
	padding: 12px 0 0 0;
	margin: 0 0 16px 0;
	overflow: hidden;
}
.b-inspire__img-container--blue { background-color:  #8dcdff; }
.b-inspire__img-container--purple { background-color:  #c694cb; }
.b-inspire__img-container--green { background-color:  #95e27a; }
.b-inspire__img-container--yellow { background-color:  #ffdc00; }

/* PixelPerfect */
.b-inspire__img { position: relative; }
.b-inspire__img--electronics {
	left: 2px;
    top: 6px;
}
.b-inspire__img--domestic {
	left: -19%;
    top: -1px;
}
.b-inspire__img--repair {
	left: 12px;
    top: 1px;
}
.b-inspire__img--kids-items {
	left: 7px;
    top: -22px;
}
.b-inspire__img--furniture {
	left: 30px;
    top: 4%;
}
.b-inspire__img--sport {
	top: 31px;
    left: -16px;
}
.b-inspire__img--house {
	left: 9px;
    top: 4px;
}
.b-inspire__img--auto {
	left: 10px;
}
/* PixelPerfect END */

.b-inspire__title {
	font-size: 20px;
	font-weight: 700;
	color:  #161616;
}
.b-inspire__item:hover .b-inspire__title {
	color: #666;
}
.b-brand {
	padding: 60px 0 41px 0;
}
.b-title--brand { margin: 0; }
.b-brand__btn { 
	height: 35px;
	font-size: 13px;
	margin: 0 10px 0 0;
}
.b-brand__title-container,
.b-brand__list,
.b-interesting__title-container,
.b-viewed__title-container {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-brand__img-container {
	width: 100%;
	height: 100%;
}
.b-brand__title-container {
	margin: 0 0 37px 0;
	align-items: baseline;
}
.b-brand__btn,
.b-arrow-container {
	display: inline-block;
	vertical-align: middle;
}
.b-arrow-left,
.b-arrow-right {
	height: 35px;
	padding: 4px 10px;
	cursor: pointer;
}
.b-arrow-left {
	margin: 0 6px 0 0;
}
.b-arrow__img { text-align: center; }
.b-brand__item {
	width: 190px;
	height: 130px;
	padding: 20px 0 0 0;
	border: 1px solid #f4f4f4;
	text-align: center;
	position: relative;
}
.b-brand__item-title {
	display: block;
	visibility: hidden;
	opacity: 0;
	font-size: 15px;
	font-weight: 500;
	color: #161616;
	position: relative;
    bottom: 27px;
	transition: visibility 0s, opacity 0.5s linear;
}
.b-brand__item:hover  { border-color: #ddd;	}
.b-brand__item:hover .b-brand__item-title { 
	visibility: visible;
	opacity: 1;
}

.b-banner {
	padding: 0 0 60px 0;
	border-bottom: 1px solid #f4f4f4;
}
.b-banner__sale {
	height: 245px;
	background-color:  #f4f4f4;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
}
.b-banner__info-container {
	width: 700px;
	padding: 32px 0 0 0;
}
.b-banner__info {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 314px;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #000;
}
.b-banner__title {
	font-size: inherit;
	font-weight: 500;
	line-height: 35px;
}
.b-banner__text {
	margin: 0 0 14px 0;
	font-weight: 300;
	line-height: 35px;
	word-wrap: normal;
}
.b-banner__info-img {
	width: 194px;
	height: 66px;
	text-align: center;
}
.b-banner__img-container {
	width: 489px;
}
.b-banner__img {
 	position: relative;
 	top: -135px;
 }
.b-interesting {
	padding: 54px 0 63px 0;
	border-bottom: 1px solid #f4f4f4;
}
.b-interesting__title-container {
	margin: 0 0 19px 0;
}
.b-title--interesting {
	margin: 0;
}
.b-interesting__list {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-interesting__item {
	height: 376px;
	border: 1px solid transparent;
}
.b-interesting__item:hover {
	border: 1px solid #ddd;
}
.b-product {
	width: 289px;
	padding: 0 0 0 18px;
}
.b-product__img-container {
	width: 249px;
	height: 250px;
	margin: 0 0 16px 0;
	line-height: 250px;
	text-align: center;
}
.b-product__img {
	vertical-align: middle;
	text-align: center;
}
.b-product__info-container {
	display: flex;
	flex-flow: column nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-product__name {
	width: 240px;
	height: 62px;
	margin: 0 0 4px 0;
	color:  #666;
	font-size: 15px;
	font-weight: 700;
	line-height: 21px;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-break: break-all;
	overflow: hidden;
}
.b-price {
	margin: 0 0 5px 0;
	color: #161616;
	font-weight: 900;
}
.b-price-container {
	display: inline-block;
	margin: 0 8px 0 0;
}
.b-price-container:last-child {
	margin: 0;
}
.b-price__value {
	font-size: 24px;
	line-height: 31px;
}
.b-price__currency {
	font-size: 11px;
	line-height: 31px;
}
.b-price__old {
	display: block;
	font-size: 11px;
	font-weight: 900;
	line-height: 11px;
}
.b-product__delivery { margin: 0 0 10px 0; }
.b-product__delivery-link {
	display: block;
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
}
.b-product__rate { margin: 0 0 10px 0; }
.b-rate__star-container,
.b-rate__star-count {
	vertical-align: middle;
}
.b-rate__star-container {
	margin: 0 3px 0 0;
}
.b-rate__star::before {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
}
.b-rate__full-star::before {
	background: url("../img/icon/full-star.png") no-repeat;
}
.b-rate__empty-star::before {
	background: url("../img/icon/empty-star.png") no-repeat;
}
.b-rate__star-count {
	font-size: 13px;
	line-height: 15px;
	color:  #999;
}

.b-advice {
	padding: 58px 0 0 0;
}
.b-title--advice {
	margin: 0 0 31px 0;
	color:  #161616;
	font-size: 30px;
	font-weight: 300;
	line-height: 25px;
	text-transform: uppercase;
}
.b-title__mark--advice {
	font-weight: 700;
}
.b-advice__nav-container,
.b-advice__nav {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-advice__nav-container {
	align-items: baseline;
}
.b-advice__nav {
	width: 929px;
	align-items: center;
}
.b-advice__nav-icon,
.b-advice__nav-text,
.b-advice__info-link__icon,
.b-advice__info-link__title {
	vertical-align: middle;
}
.b-advice__nav-icon {
	margin: 0 2px 0 0;
}
.b-advice__nav-link {
	padding: 0 17px 25px 0;
	border-bottom: 5px solid transparent;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	text-transform: uppercase;
	color:  #151515;
}
.b-advice__active-link {
	padding: 0 15.5px 25px 0;
	border-bottom: 5px solid #ffdc00;
	font-weight: 700;
	color:  #161616;
}
.b-advice__active-link .b-advice__nav-icon {
	-webkit-filter: brightness(5%) blur(0px);
	-moz-filter: brightness(5%) blur(0px);
	filter: brightness(5%) blur(0px);
}

.b-advice__slide,
.b-advice__products {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-advice__slide-container {
	width: 100%;
	padding: 40px 0 39px 0;
}
.b-advice__slide-container--black {
	background: #000 url("../img/banner-braslet-1280.png") no-repeat 0% 0%;
}
.b-advice__slide-container--white {
	padding: 40px 0 42px 0;
	background-color:  #fafafa;
	border-bottom: 1px solid #f4f4f4;
}

.b-advice__slide-container--white .b-advice__product { margin: 0 11px 0 0; }
.b-advice__info {
	display: flex;
	flex-flow: column nowrap;
	padding: 21px 0 0 0px;
}
.b-advice__info--black-text {
	padding: 24px 0 0 0px;
}
.b-advice__info--white-text {
	color: #fff;
}
.b-advice__info--black-text {
	color: #161616;
}
.b-advice__info-head {
	width: 350px;
	margin: 0 0 23px 0;
	font-size: 35px;
	font-weight: 700;
	line-height: 45px;
}
.b-advice__info--white-text .b-advice__info-head { width: 350px; }
.b-advice__info--black-text .b-advice__info-head { width: 400px; }
.b-advice__info-text {
	width: 450px;
	margin: 0 0 11px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	white-space: pre-wrap;
}
.b-advice__info--black-text .b-advice__info-text { width: 460px; }
.b-advice__info-link {
	margin: 0 0 20px 0;
}
.b-advice__info-link__icon {
	margin: 0 5px 0 0;
}
.b-advice__info-link__title {
	font-size: 13px;
	font-weight: 500;
}
.b-advice__info-link__title--black {
	color: #fff;
	opacity: .5;
}
.b-advice__info-link__title--white {
	color: #666;
}
.b-advice__info-btn {
	width: 165px;
	padding: 0 10px;
	/* margin: 0 5px 5px 0; */
	margin: 0 5px 21px 0;
}
.b-advice__product {
	height: 465px;
	margin: 0 11px 0 0;
	border: 1px solid #f4f4f4;
	background-color: #fff;
	position: relative;
}
.b-advice__product:hover { border: 1px solid #ddd; }
.b-advice__product:last-child {
	margin: 0;
}
.b-product__label {
	height: 18px;
	padding: 3px 6px;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
}
.b-product__label-hit {
    top: 18px;
	background-color: #309ace;
}
.b-product__label-promo {
	top: 38px;
	background-color: #eb2e2c;	
}
.b-angle-right::before {
	content: "\203A";
	font-size: 16px;
	line-height: 10px;
	font-style:  normal;
}

.b-viewed {
	padding: 40px 0 0 0;
}
.b-title--viewed {
	margin: 0 0 34px 0;
}
.b-viewed__list {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-viewed__item {
	width: 290px;
	height: 120px;
	padding: 10px 0 0 10px;
	border: 1px solid #f0f0f0;
	background-color: #fff;
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	align-items: center;
}
.b-viewed__item:hover {
	border-color: #ddd;
}
.b-viewed__img-container {
	width: 100px;
	height: 112px;
	margin: 0 8px 0 0;
	line-height: 100px;
	text-align: center;
}
.b-viewed__img {
	text-align: center;
	vertical-align: middle;
}
.b-viewed__info-container {
	height: 100%;
}
.b-viewed__item-name {
	display: inline-block;
	width: 132px;
	height: 50px;
	padding: 5px 0 0 0;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	color: #666;
	vertical-align: middle;
	overflow: hidden;
}
.b-viewed__price-value {
	font-size: 18px;
}

.b-feedback {
	padding: 53px 0 40px 0;
}
.b-title--feedback {
	margin: 0 0 22px 0;
}
.b-feedback-container,
.b-form {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-feedback__info {
	width: 500px;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
}
.b-form {
	width: 590px;
}
.b-form__input-email {
	width: 391px;
	height: 40px;
	padding: 1px 0 0 11px;
	font-weight: 500;
	color: #999;
	outline: none;
}
.b-form__input-email[placeholder] {
	font-weight: 500;
}
.b-form__input-btn {
	width: 190px;
}

.b-footer {
	padding: 36px 0 0 0;
	background-color: #efede7;
	color: #666;
}
.b-footer-container {
	display: flex;
	flex-flow: column nowrap;
}
.b-footer-nav {
	padding: 0 0 34px 0;
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 1px solid #e4e1d9;
}
.b-footer-nav__column,
.b-footer__info {
	width: 292px;
	padding: 0px 40px 0 0;
}
.b-footer__title {
	display: block;
	margin: 0 0 8px 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	color: #161616;
}
.b-footer__nav-item {
	font-size: 13px;
	font-weight: 500;
	line-height: 22px;
	color: inherit;
}
.b-footer__nav-link:hover {
	text-decoration: underline;
}
.b-phone-container{
	margin: 0 0 18px 0;
}
.b-phone--footer {
	margin: 0 0 8px 0;
}
.b-phone__link--footer,
.b-phone__info--footer {
	display: block;
}
.b-phone__link--footer {
	font-size: 15px;
	line-height: 26px;
	color:  #161616;
}
.b-phone__info--footer {
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	color:  #161616;
}
.b-social {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.b-social__item {
	width: 35px;
	height: 35px;
	margin: 0 15px 10px 0;
	line-height: 33px;
	border-radius: 50%;
	background-color:  #ccc8bd;
	text-align: center;
}
.b-social__item:hover { background-color: #848077; }
.b-social__icon { 
	display: block;
	width: 100%;
	height: 100%; 
}
.b-social__icon--vk { background: url("../img/icon/vk.png") no-repeat 50%; }
.b-social__icon--fb { background: url("../img/icon/fb.png") no-repeat 50%; }
.b-social__icon--ok { background: url("../img/icon/ok.png") no-repeat 50%; }
.b-social__icon--insta { background: url("../img/icon/insta.png") no-repeat 50%; }
.b-social__icon--tw { background: url("../img/icon/tw.png") no-repeat 50%; }
.b-social__icon--yt { background: url("../img/icon/yt.png") no-repeat 50%; }
.b-social__icon--gpls { background: url("../img/icon/gpls.png") no-repeat 50%; }

.b-copyright {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 17px 0 35px 0;
}

.b-copyright__info {
	padding: 4px 0 0 0;
	font-size: 13px;
	
	line-height: 20px;
}

.b-designer__img,
.b-designer__name { vertical-align: middle; }
.b-designer__img { margin: 0 8px 0 0; }
.b-designer__name {
	margin: 0 89px 0 0;
	font-size: 13px;
}
.b-designer__link {	text-decoration: underline; }
