@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl300.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl500.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl700.ttf"); format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}
@font-face {
    font-family: "Museo Sans";
    src: url("../font/MuseoSansCyrl900.ttf"); format("truetype");
	font-style: normal; 
	font-weight: 900; 
}
body, section, div, p, h1, h2, h3, h4, h5, img, ul, li, 
input, button, a, select {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
*, *::before, *::after { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.b-mark {
	background: transparent;
	color: inherit;
}
.b-link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.b-container {
	max-width: 1190px;
	margin: 0 auto;
}
.b-page {
	font-family: Museo Sans, sans-serif;
}
.b-header {
	text-transform: uppercase;
	padding: 16px 0 0 0;
}
.b-top-header {
	border-bottom: 1px solid #eee;
}
.b-top-header__wrapper,
.b-main-header__wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.b-top-header__wrapper { align-items: baseline; }
.b-main-header__wrapper { align-items: center; }
.b-top-header {
	color:  #666;
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
}
.b-city__list {
	font-family: inherit;
	font-size: inherit;
	text-transform: inherit;
	color: inherit;
	text-decoration: underline;
	text-decoration-style: dashed;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.b-nav-list__items {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.b-nav-list__item:not(:last-child) {
	margin: 0 39px 16px 0;
}
.b-mark-promo {
	color: #eb2e2c;;
}
.b-phone__link {
	font-size: 15px;
	font-weight: 700;
	color: inherit;
}
.b-main-header {
	padding: 18px 0 0 0;
}
..b-search__input,
.b-user {
	margin: 0 0 16px 0;
}
.b-logo {
	margin: 0 24px 16px 0;
}
.b-search__input {
	width: 688px;
	padding: 10px 12px;
	border: 1px solid #ccc;
	font-size: 15px;
	font-weight: 300;
}
.b-login,
.b-basket {
	display: inline-block;
	vertical-align: middle;
}
.b-login {
	padding: 0 19px 0 0;
	margin: 0 19px 0 0;
	border-right: 1px solid #eee;
}
.b-login__room,
.b-login__in {
	display: block;
	text-align: right;
	font-size: 13px;
}
.b-login__room {
	font-weight: 700;
	color: #333;
}
.b-login__in {
	text-transform: lowercase;
	color: #666;
}
.b-menu {
	width: 100%;
	background-color:  #ffdc00;
	font-size: 15px;
	font-weight: 700;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.b-menu__items {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.b-menu__item {
	padding: 23px 0 19px 0;
}
.b-slider {
	height: 428px;
}
.b-slider__item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	height: 100%;
	font-size: 48px;
	text-transform: uppercase;
	color: #161616;
	background: url("../img/slider/slider-bg.png") no-repeat left center;
}
.b-slider__content-wrapper {
	width: 850px;
	height: 100%;
	border-radius: 200px 0 0 200px;
	background:  #ffdc00;
	background-repeat: no-repeat;
	background-position: right center;
}
.b-slider__content {
	padding: 54px 0 0 0;
	font-size: 38px;
	text-align: center;
}
.b-slider__headline {
	font-size: 38px;
	font-weight: 700;
}
.b-slider__text {
	font-weight: 300;
}
.b-best {
	padding: 57px 0 0 0;
	margin: 0 0 50px 0;
}
.b-headline {
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 38px 0;
}
.b-best__items {
	display: flex;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-best__item {
	background-color:  #f4f4f4;
	width: 290px;
	height: 245px;
	display: flex;
	flex-flow: column nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	margin: 0 0 10px 0;
}
.b-best__item-bonus {
	background-color:  #ffdc00;
}
.b-best__item-sale {
	background-color: #fc0e2a;
	color: #fff;
}
.b-best__item-big {
	width: 590px;
	height: 245px;
	flex-flow: row nowrap;
}
.b-best__item-mini .b-best__desc {
	text-align: center;
}
.b-advantage {
	padding: 40px 0 0 0;
	border-top: 1px solid #f4f4f4;;
	border-bottom: 1px solid #f4f4f4;;
}
.b-advantage__items {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
}
.b-advantage__item {
	width: 250px;
	height: 76px;
	margin: 0 0 35px 0;
}
.b-advantage__img-container,
.b-advantage__text-container {
	display: inline-block;
	vertical-align: middle;
}
.b-advantage__img-container {
	width: 75px;
	margin: 0 15px 0 0;
}
.b-advantage__text-container {
	width: 150px;
}
.b-advantage__text {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	overflow-wrap: wrap;
}
.b-inspire {
	padding: 57px 0 0 0;
	border-bottom: 1px solid #f4f4f4;;
}
.b-inspire__items {
	display: flex;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 25px 0;
}
.b-inspire__item {
	text-align: center;
	margin: 0 0 35px 0;
}
.b-inspire__img-container {
	width: 290px;
	height: 271px;
	padding: 12px 0 0 0;
	margin: 0 0 17px 0;
	overflow: hidden;
}
.b-inspire__img-container--blue { background-color:  #8dcdff; }
.b-inspire__img-container--purple { background-color:  #c694cb; }
.b-inspire__img-container--green { background-color:  #95e27a; }
.b-inspire__img-container--yellow { background-color:  #ffdc00; }
.b-inspire__title {
	font-size: 20px;
	font-weight: 700;
	color:  #161616;
}

.b-brand {
	padding: 60px 0 0 0;
	margin: 0 0 40px 0;
}
.b-brand__items {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-brand__item {
	width: 190px;
	height: 130px;
	padding: 20px 0 0 0;
	border: 1px solid #f4f4f4;
	text-align: center;
	transition: all 0.2s linear;
}
.b-brand__item-head {
	display: none;
	font-size: 15px;
	font-weight: 500;
	color: #161616;
}
.b-brand__item:hover  { border-color: #ddd;	}
.b-brand__item:hover .b-brand__item-head { display: block; }

.b-banner {
	border-bottom: 1px solid #f4f4f4;
}
.b-banner__sale {
	height: 245px;
	margin: 0 0 60px 0;
	background-color:  #f4f4f4;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
}
.b-banner__info-container {
	width: 700px;
	padding: 40px 0 0 0;
}
.b-banner__info {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 314px;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #000;
}
.b-banner__head {
	font-size: inherit;
	font-weight: 500;
}
.b-banner__text {
	margin: 0 0 15px 0;
	font-weight: 300;
	line-height: 35px;
	word-wrap: normal;
}
.b-banner__info-img {
	width: 194px;
	height: 66px;
	text-align: center;
}
.b-banner__img-container {
	width: 489px;
}
.b-interesting {
	padding: 56px 0 0 0;
	border-bottom: 1px solid #f4f4f4;
}
.b-interesting__items {
	margin: 0 0 60px 0;
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-interesting__item {
	height: 376px;
}
.b-product {
	width: 289px;
	padding: 0 0 0 20px;
}
.b-product__img-container {
	width: 249px;
	height: 250px;
	margin: 0 0 16px 0;
	line-height: 250px;
	text-align: center;
}
.b-product__img {
	vertical-align: middle;
	text-align: center;
}
.b-product__info-container {
	display: flex;
	flex-flow: column nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-product__name {
	width: 240px;
	height: 62px;
	margin: 0 0 4px 0;
	color:  #666;
	font-size: 15px;
	font-weight: 700;
	line-height: 21px;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-break: break-all;
	overflow: hidden;
}
.b-price {
	margin: 0 0 5px 0;
	color: #161616;
	font-weight: 900;
}
.b-price-container {
	display: inline-block;
	margin: 0 5px 0 0;
}
.b-price-container:last-child {
	margin: 0;
}
.b-price__value {
	font-size: 24px;
	line-height: 31px;
}
.b-price__currency {
	font-size: 11px;
	line-height: 31px;
}
.b-price__old {
	display: block;
	font-size: 11px;
	font-weight: 900;
	line-height: 11px;
}
.b-product__delivery { margin: 0 0 10px 0; }
.b-product__delivery-link {
	display: block;
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
}
.b-product__rate { margin: 0 0 10px 0; }
.b-rate__star-container,
.b-rate__star-count {
	vertical-align: middle;
}
.b-rate__star-container {
	margin: 0 3px 0 0;
}
.b-rate__star-count {
	font-size: 13px;
	line-height: 15px;
	color:  #999;
}

.b-advice {
	padding: 50px 0 0 0;
}
.b-advice__head {
	color:  #161616;
	font-size: 30px;
	font-weight: 300;
	line-height: 25px;
	text-transform: uppercase;
}
.b-advice__head-mark {
	font-weight: 700;
}
.b-advice__nav-container,
.b-advice__nav {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-advice__nav-container {
	padding: 35px 0 0 0;
	align-items: baseline;
}
.b-advice__nav {
	width: 950px;
	align-items: center;
}
.b-advice__nav-icon,
.b-advice__nav-text,
.b-advice__info-link__icon,
.b-advice__info-link__title {
	vertical-align: middle;
}
.b-advice__nav-icon {
	margin: 0 2px 0 0;
}
.b-advice__nav-link {
	padding: 0 17px 28px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	text-transform: uppercase;
	color:  #151515;
	border-bottom: 5px solid transparent;
	transition: text-shadow .3s;
}
.b-advice__nav-link:hover {
	border-bottom: 5px solid #ffdc00;
	/* font-weight: 700; */
	color:  #161616;
	text-shadow: 0 1px 0.1px #161616, 0 1px 0.1px #161616;
	/*
	 * с f-w не получается, т.к. ширина элементов изменяется и двигает другие.
	 * А фиксированную ширину каждому элементу задавать не есть хорошо. 
	 */
}
.b-btn {
	height: 40px;
	padding: 0 19px;
	border: 0;
	font-size: 15px;
	font-weight: 700;
	color: #161616;
	text-transform: uppercase;
}
.b-btn-white {
	border: 1px solid #dddddd;
	background-color: #fff;
}
.b-btn-yellow {
	background-color:  #ffdc00;
}

.b-advice__slide,
.b-advice__products {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-advice__slide-container {
	width: 100%;
	padding: 40px 0 0 0;
}
.b-advice__slide-container--black {
	background: #000 url("../img/banner-braslet2.png") no-repeat center left;
}
.b-advice__slide-container--white {
	background-color:  #fafafa;
	border-bottom: 1px solid #f4f4f4;
}
.b-advice__info {
	display: flex;
	flex-flow: column nowrap;
}
.b-advice__info--white-text {
	color: #fff;
}
.b-advice__info--black-text {
	color: #161616;
}
.b-advice__info-head {
	width: 350px;
	margin: 0 0 23px 0;
	font-size: 35px;
	font-weight: 700;
	line-height: 45px;
}
.b-advice__info-text {
	width: 450px;
	margin: 0 0 11px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	white-space: pre-wrap;
}
.b-advice__info-link {
	margin: 0 0 17px 0;
}
.b-advice__info-link__icon {
	margin: 0 5px 0 0;
}
.b-advice__info-link__title {
	font-size: 13px;
	font-weight: 500;
}
.b-advice__info-link__title--black {
	color: #fff;
	opacity: .5;
}
.b-advice__info-link__title--white {
	color: #666;
}
.b-advice__info-btn {
	width: 165px;
	padding: 0 10px;
	margin: 0 5px 5px 0;
}
.b-advice__product {
	height: 465px;
	margin: 0 11px 40px 0;
	border: 1px solid #f4f4f4;
	background-color: #fff;
}
.b-advice__product:last-child {
	margin: 0;
}

.b-viewed {
	padding: 45px 0 0 0;
}
.b-viewed__items {
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.b-viewed__item {
	width: 290px;
	height: 120px;
	padding: 10px 0 0 20px;
	border: 1px solid #f0f0f0;
	background-color: #fff;
	display: flex;
	flex-flow: row nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	align-items: center;
}
.b-viewed__img-container {
	width: 100px;
	height: 100px;
	margin: 0 8px 0 0;
	line-height: 100px;
	text-align: center;
}
.b-viewed__img {
	text-align: center;
	vertical-align: middle;
}
.b-viewed__info-container {
	vertical-align: middle;
}
.b-viewed__item-name {
	width: 132px;
	height: 50px;
	font-size: 13px;
	line-height: 16px;
	color: #666;
	vertical-align: middle;
}
.b-viewed__price-value {
	font-size: 18px;
}

.b-form__input-btn {
	width: 190px;
}
